<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Static Server Example Using Express</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="container">
        <h1>Zach's List</h1>
        
        <p>Top 10 Citrus Fruits:</p>
        <div style="width:600px;">
            <ol>
                <li>Oranges</li>
                <li>Tangerines</li>
                <li>Grapefruit</li>
                <li>Clementines</li>
                <li>Lemons</li>
                <li>Blood Orange</li>
                <li>Tangelo</li>
                <li>Kinnow</li>
                <li>Kumquat</li>
                <li>Lime</li>
            </ol>

            <p>I picked Citrus fruits as I have grown a fondness to my username that I use: TangerineMoss9. Although I personally don't like tangerines, citrus has become a part of my being and while orange used to be my least favorate color, It is now my second favorite color only behind purple.</p>
        
        </div>

        <nav>
            <a href="NewEntries.html">New Entries</a>
            <a href="Login.html">Login Page</a>
        </nav>
    </div>
</body>

</html>